*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
nav{
    height: 60px;
    background-color: lightpink;
    padding: 15px;
}
.topbar{
    height: 25px;
    background-color: red;
    width: 100%;
    
}
.lista-sinistra li, .lista-destra li{
    list-style: none;
    display: inline-block;
    line-height: 25px;
    margin-left: 30px;
}
.logo{
}
header{
    background-color: lightblue;
    width: 100%;
    height: 500px;
    padding: 50px;
}
.contenitore-1{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}
.paragrafo-1{
    width: 250px;
    height: 250px;
    border: 1px solid red;
    margin-right: 100px;
}
.img-1{
    width: 300px;
    height: 300px;
    border: 1px solid green;
}
.contenitore-2{
    width: 900px;
    border: 1px solid blue;
    margin: 100px auto;
}
.colonna{
    width: calc(33% - 50px);
    height: 600px;
    margin-right: 50px;
    border: 1px solid lightgray;
}
.colonna:last-child{
    margin-right: 0;
}
 .colonna .capocolonna{
     text-align: center;
    border-bottom:1px solid lightgray;
    height: 30px;
    width: 100%;
    line-height: 30px;
}